{% extends '/base.html.twig' %}

{% block title %}Proveedor{% endblock %}

{% block titleDash %}Proveedor{% endblock %}
{% block infoDash %}Proveedores de materiales utilizados en la empresa{% endblock %}

{% block nuevo %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#new-provider">NUEVO PROVEEDOR</button>
    <!-- Modal Insertar Usuarios-->
    <div class="modal fade" id="new-provider" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-truck"></i> AGREGAR PROVEEDOR</h4>
                </div>
                <form class="form-horizontal" name="insert-user" method="post" action="{{ urlFor('insert-provider') }}" data-toggle="validator">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Proveedor</label>
                            <div class="col-sm-10">
                                <input type="text" name="provider" class="form-control upper" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">RUC</label>
                            <div class="col-sm-10">
                                <input type="text" name="ruc" class="form-control" placeholder="000000-0" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10">
                                <input type="text" name="city" class="form-control upper" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Contacto</label>
                            <div class="col-sm-10">
                                <input type="text" name="contact" class="form-control upper" placeholder="Nombre del Contacto" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text"  name="phone" class="form-control" autocomplete="off" placeholder="021123658">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-10">
                                <input type="text"  name="cellphone" class="form-control" autocomplete="off" placeholder="09XX123456">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="mail" class="form-control" autocomplete="off" placeholder="elantiguo@hotmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-wd btn-info"><span class="btn-label"></span> INSERTAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include '/include/alert.html.twig' %}

{% endblock %}


{% block tabla %}
    <div class="card filterable">
        <div class="card-header">
            <div class="card-title col-md-6 col-lg-9 col-sm-6">
                <h4 class="title"><i class="fa fa-truck"></i> TABLA DE PROVEEDORES</h4>
            </div>
            <div class="card-title col-md-6 col-lg-3 col-sm-6">
                <form class="form-horizontal mt0" method="post" action="{{ urlFor('search-provider') }}" role="search">
                    <div class="pull-right">
                        <div class="right-inner-addon">
                            <i class="fa fa-search"></i>
                            <input type="text" name="buscar" class="form-control" value="" placeholder="Buscar..">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th>RUC</th>
                        <th>Direccion</th>
                        <th>Ciudad</th>
                        <th>Contacto</th>
                        <th>Telefono</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th><center>ACCIONES</center></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for dato in provider %}
                        <tr>
                            <td>{{ dato.proveedor|upper }}</td>
                            <td>{{ dato.ruc }}</td>
                            <td>{{ dato.direccion }} </td>
                            <td>{{ dato.ciudad }} </td>
                            <td>{{ dato.contacto }} </td>
                            <td>{{ dato.telefono }} </td>
                            <td>{{ dato.celular }} </td>
                            <td>{{ dato.email }} </td>
                            <td class="acciones"><center>
                                <ul>
                                    <li>
                                        <a href="{{ urlFor('up-provider',{id:dato.idproveedor}) }}" ><i class="fa fa-pencil-square-o"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" data-href="{{ urlFor('delete-provider', {id:dato.idproveedor,proveedor:dato.proveedor,iduser:user.iduser}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o delete"></i></a>
                                    </li>
                                </ul></center>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/js/delete.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(19)').addClass('active');
        $('.side-menu li:eq(21)').addClass('active2');
    </script>
{% endblock %}