{% extends 'base.html.twig' %}

{% block title %}Proveedor{% endblock %}

{% block titleDash %}Proveedor{% endblock %}
{% block infoDash %}Actualizacion de los datos del Proveedor{% endblock %}

{% block tabla %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del Proveedor: {{ provider.proveedor }}</h4>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" method="post" action="{{ urlFor('update-provider') }}" data-toggle="validator">
                <input type="hidden" name="id" value="{{ provider.idproveedor }}"  required/>
                <input type="hidden" name="user" value="{{ user['iduser'] }}" />
                <div class="form-group">
                    <label class="control-label col-sm-2">Proveedor</label>
                    <div class="col-sm-10">
                        <input type="text" name="provider" value="{{ provider.proveedor }}"  class="form-control upper" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">RUC</label>
                    <div class="col-sm-10">
                        <input type="text" name="ruc" value="{{ provider.ruc }}"  class="form-control" autocomplete="off" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Direccion</label>
                    <div class="col-sm-10">
                        <input type="text" name="address" value="{{ provider.direccion }}"  class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Ciudad</label>
                    <div class="col-sm-10">
                        <input type="text" name="city" value="{{ provider.ciudad }}"  class="form-control upper" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Contacto</label>
                    <div class="col-sm-10">
                        <input type="text" name="contact" value="{{ provider.contacto }}"  class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" name="phone" value="{{ provider.telefono }}"  class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Celular</label>
                    <div class="col-sm-10">
                        <input type="text" name="cellphone" value="{{ provider.celular }}"  class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="mail" value="{{ provider.email }}"  class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Comentario</label>
                    <div class="col-sm-10">
                        <input type="text" name="comentario"  class="form-control" placeholder="Por que se modifica?" required>
                    </div>
                </div>
                <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-info"/></div>
            </form>
        </div>
    </div>

    <div><a class="btn btn-xs btn-primary" href="{{ urlFor('provider') }}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Regresar</a></div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(19)').addClass('active');
        $('.side-menu li:eq(21)').addClass('active2');
    </script>
{% endblock %}