{% extends '/base.html.twig' %}

{% block title %}Inventario{% endblock %}
{% block stylesheets %}<link href="{{ dir }}/assets/css/select2.min.css" rel="stylesheet"/>{% endblock %}

{% block titleDash %}Inventario de Materiales{% endblock %}
{% block infoDash %}Entrada y Salida de materiales del corriente mes{% endblock %}

{% block nuevo %}
    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-out" data-backdrop="static" data-keyboard="false">NUEVA SALIDA</button>

    {% include '/include/alert.html.twig' %}
    {% include '/inventario/modal-inventario.html.twig' %}

    <button class="btn btn-success" data-toggle="modal" data-target="#modal-in" data-backdrop="static" data-keyboard="false">NUEVA ENTRADA</button>
    <!-- Modal Entrada-->
    <div class="modal fade" id="new-entrada" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-cogs"></i> Registrar Entrada</h4>
                </div>
                <form class="form-horizontal"  method="post" action="{{ urlFor('insert-inventario') }}" data-toggle="validator">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Fecha</label>
                            <div class="col-sm-10">
                                <input type="date" name="fecha"  class="form-control" value="{{ now|date('Y-m-d') }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Producto</label>
                            <div class="col-sm-9">
                                <select id="sl-stock-ent" class="form-control" name="stock" style="width: 100%">
                                    {% for entity in productos %}
                                        <option value="{{ entity.idstock }}">{{ entity.producto | upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1 inventario-new-stock">
                                <a href="{{ urlFor('inventario-new-stock') }}" class="btn btn-primary"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-10">
                                <input type="number" step="0.01"  name="cantidad" value="1"  class="form-control" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Empleado</label>
                            <div class="col-sm-10">
                                <select id="sl-empleado" class="form-control" name="empleado" >
                                    {% for entity in empleados %}
                                        <option value="{{ entity.idempleado }}">{{ entity.nombre | upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="motivo" value="entrada">
                        <input type="hidden" name="user" value="{{ user['iduser'] }}" />
                        <input type="hidden" name="movimiento" value="E" />
                        <input type="hidden" name="pendiente" value="N" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-wd btn-info"><span class="btn-label"><i class="fa fa-cog"></i></span> ENTRADA</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block tabla %}
    <div class="card filterable">
        <div class="card-header">
            <div class="card-title">
                <h4 class="title">Entrada y Salida de Materiales</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>MOV</th>
                        <th>FECHA</th>
                        <th>PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>Uni/Med</th>
                        <th>MOTIVO</th>
                        <th>EMPLEADO</th>
                        <th>
                            <center>ELIMINAR</center>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in inventario %}
                        <tr>
                            <td>
                                {% if dato.movimiento == 'S' %}
                                    <i class="fa fa-arrow-circle-down" style="color:#FA2A00"></i>
                                {% else %}
                                    <i class="fa fa-arrow-circle-up" style="color:#5cb85c"></i>
                                {% endif %}
                            </td>
                            <td>{{ dato.fecha | date('d-M-Y') }}</td>
                            <td>{{ dato.producto | upper }}</td>
                            <td>{{ dato.cantidad }} </td>
                            <td>{{ dato.unidad | upper }} </td>
                            <td>{{ dato.motivo | upper }} </td>
                            <td>{{ dato.nombre | upper }} </td>
                            <td class="acciones text-center">
                                <a class="eliminar" href="#" data-href="" data-toggle="modal" data-target="#confirm-delete-inventario">
                                    <i class="fa fa-times delete">
                                        <input id="producto" type="hidden" value="{{ dato.producto | upper }}" />
                                        <input id="codigo-inventario" type="hidden" value="{{ dato.idinventario }}" />
                                    </i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/inventario/inventario.js"></script>
{% endblock %}