{% extends '/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/dataTables.bootstrap.min.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/buttons.dataTables.min.css" />
{% endblock %}


{% block title %}Movimiento de Inventario{% endblock %}

{% block titleDash %}Reportes{% endblock %}
{% block infoDash %}Reportes de la entrada y salida de los materiales de la empresa{% endblock %}

{% block nuevo %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#new-prod">BUSQUEDA</button>
    <!-- Modal Insertar Usuarios-->
    <div class="modal fade" id="new-prod" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-search"></i> Reporte Inventario</h4>
                </div>
                <form class="form-horizontal" name="insert-user" method="post" action="{{ urlFor('busqueda-inventario') }}" data-toggle="validator">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Desde</label>
                            <div class="col-sm-10">
                                <input type="date" name="desde"  class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Hasta</label>
                            <div class="col-sm-10">
                                <input type="date" name="hasta"  class="form-control"  required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-wd btn-info"><span class="btn-label"><i class="fa fa-search"></i></span> BUSCAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include '/include/alert.html.twig' %}

{% endblock %}


{% block tabla %}
    <div class="card filterable">
        <div class="card-header">
            <div class="card-title">
                <h4 class="title">REPORTE ENTRADA / SALIDA DE MATERIALES</h4>
            </div>
        </div>
        <div class="card-body">
            <table class="datatable table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Can</th>
                    <th>U/M</th>
                    <th>Empleado</th>
                    <th>Motivo</th>
                    <th>M</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Can</th>
                    <th>U/M</th>
                    <th>Empleado</th>
                    <th>Motivo</th>
                    <th>M</th>
                </tr>
                </tfoot>
                <tbody>
                {% for dato in inventario %}
                    <tr>
                        <td>{{ dato.fecha | date('d-m-y') }}</td>
                        <td>{{ dato.producto | lower }} </td>
                        <td>{{ dato.cantidad }} </td>
                        <td>{{ dato.unidad | lower }}</td>
                        <td>{{ dato.nombre | capitalize }} </td>
                        <td>{{ dato.motivo }} </td>
                        <td>{{ dato.movimiento | upper }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ dir }}/assets/js/dataTable/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/buttons.html5.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/pdfmake.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/jszip.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/vfs_fonts.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/buttons.colVis.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(4)').addClass('active');
        $('.side-menu li:eq(7)').addClass('active2');

        $('.datatable').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    className: 'btn-pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    download: 'open',
                    className: 'btn-pdf',
                    pageSize: 'B4',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    text: 'COLUMNAS',
                    className: 'btn-pdf'
                }
            ]
        }, $(".datatable").fadeIn("slow"));
    </script>
{% endblock %}